extends ../layout

block content
    div(style="border:1px solid #ccc;width:300px;padding:10px;margin:30px;")
        br
        h1 Inicio Session
        br
        br
        form(action="/login/" method="post")
            .form-group
                label(for="email") Email
                input#email.form-control(type="text" name="email")
            .form-group
                label(for="pwd") Contraseña
                input#pwd.form-control(type="password" name="password")
            br
            br
            input#btn.btn-primary(type='submit' value='ok')
        a(href="/login/forgotPassword") Olvido contraseña
        if info != null
            p(style="color:red;border:1px solid #ccc;margin:5px;padding:5px;")
                = info.message
        
    a(href="/auth/google") Log In con Google