extends ../layout

block content
    br
    h1 Olvido Contraseña
    br
    br
    form(action="/login/forgotPassword" method="post")
        .form-group
            label(for='email') Email
            input#email.form-control(type="text" name="email") 
            br
            input#btn.btn-primary(type="submit" value="ok")
