extends ../layout

block content  
    a(href='/bicicletas/create') Nueva Bicicleta
    p
    table.table
        thead
            tr
                th(scope='col') #
                th(scope='col') Color
                th(scope='col') Modelo
                th(scope='col') Ubicación
                th(scope='col')
        tbody
            if bicis.length > 0 
                each bici in bicis
                    tr 
                        td(scope='row')
                           = bici.codigo 
                        td= bici.color
                        td= bici.modelo
                        td= bici.ubicacion
                        td  
                            a(href='bicicletas/'+bici.id+'/update')
                                = 'Actualizar'
                        td 
                            form.inline(method='post' action='bicicletas/'+bici.id+'/delete')
                                input(type='hidden' name='id' value= bici.id)
                                button.link-button(type='submit' name='submit_param' value='submit_value' class=btn)
                                    = 'Eliminar'
            else
                tr 
                    td(scope='row')
                        = bicis.codigo 
                    td= bicis.color
                    td= bicis.modelo
                    td= bicis.ubicacion
                    td  
                        a(href='bicicletas/'+bicis.id+'/update')
                            = 'Actualizar'
                    td 
                        form.inline(method='post' action='bicicletas/'+bicis.id+'/delete')
                            input(type='hidden' name='id' value= bicis.id)
                            button.link-button(type='submit' name='submit_param' value='submit_value' class=btn)
                                = 'Eliminar'