extends ../layout

block content
    div(style="border:1px solid #ccc;margin:30px;padding:20px;")
        a(href='/bicicletas') Volver
        br
        br
        h1 Actualizar Bicicleta
        br
        br

        form.form-group(action='/bicicletas/'+bici.id+'/update',method='post')
            .form-group
                label(for='id') ID
                input#id.form-control(type='text' name='id' readonly='' value= bici.codigo)
            .form-group
                label(for='color') Color
                input#color.form-control(type='text' name='color' value= bici.color)
            .form-group
                label(for='modelo') Modelo
                input#modelo.form-control(type='text' name='modelo' value= bici.modelo)
            .form-group
                label(for='latitud') Latitud
                input#latitud.form-control(type='text' name='latitud' value= bici.ubicacion[0])
            .form-group
                label(for='longitud') Longitud
                input#longitud.form-control(type='text' name='longitud' value= bici.ubicacion[1])
            br
            input.btn.btn-primary(type='submit' value='OK')