extends ../layout

block content
    br
    div(style="margin-top:100px;")
    a.btn.btn-succcess(href='/users/create') Nuevo Usuario
    br
    br

    table.table
        thead
            tr
                th(scope='col') #
                th(scope='col') Nombre
                th(scope='col') Email
                th(scope='col') Verificado
                th(scope='col') 
                th(scope='col') 
                th(scope='col') 
        tbody
            each usuario in usuarios
                tr
                    td(scope='row')
                        = usuario._id
                    td= usuario.nombre
                    td= usuario.email
                    td= usuario.verificado ? 'Si' : 'No'
                    td
                        a.btn(href='/recovery/'+usuario.id+'/generate') Recuperar contraseña
                    td
                        a.btn(href='/users/'+usuario.id+'/update') Editar
                    td
                        form.inline(method='post' action='/users/'+usuario._id+'/delete')
                            input(type='hidden' name='id' value= usuario._id)
                            button.link.button.btn-danger(type='submit' name='submit_' value= 'Eliminar')