extends ../layout

block content
    br
    h1 Recuperar Contraseña
    br
    br
    form(action='/recovery/'+token+'/recovery/' method="post")
        .form-group
            label= usuario.nombre
        
        .form-group
            label(for='pwd') Password:
            input#pwd.form-control(type='password' name='password' class= errors.password ? 'is-invalid' : '')
            if errors.password
                small#passwordHelper.text=danger
                    = errors.password.message
        
        .form-group 
            label(for='confirm_pwd') Confirmar Password:
            input#confirmar_pwd.form-control(type='password' name='confirm_password' class= errors.confirm_password ? 'is-invalid' : '')
            if errors.confirm_password 
                small#confirm_passwordHelper.text=danger
                    = errors.confirm_password.message
        br
        br
        input#btn.btn-primary(type='submit' value='ok')